@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,400;0,600;0,800;1,400&family=JetBrains+Mono:ital,wght@0,400;1,200&display=swap');

html {
    /* Font */
    --pst-font-family-base: 'Albert Sans', sans-serif, Arial;
    --pst-font-family-heading: 'Albert Sans', sans-serif, Arial;
}

html[data-theme="light"] {
    /* Background */
    --pst-color-background: #FFFFFF;
    /* Color */
    --pst-color-primary: #0458D6;
    --pst-color-secondary: #6c757d;
    --pst-color-success: #038C00;
    --pst-color-info: #17a2b8;
    --pst-color-danger: #D60404;
    --pst-color-link-hover: #1A47FF;
    --bs-breadcrumb-item-active-color: #575E7C;
    --pst-color-text-base: #575E7C;
    /* Typography */
    --pst-font-weight-heading: 700;
    --pst-font-size-h1: 48px;
    --pst-font-size-h2: 36px;
    --pst-font-size-h3: 22px;
    --pst-font-size-h4: 18px;
    --pst-font-size-h5: 16px;
    --pst-font-size-h6: 12px;
}

body::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
}

/* Header */
.bd-header .bd-header__inner {
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 959.98px){
    .bd-header .bd-header__inner {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.bd-header .navbar-header-items__center {
    padding-left: 60px;
}

a.navbar-brand.logo:hover {
    text-decoration: none;
}

a.navbar-brand.logo p.logo__title {
    font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	text-align: center;
	color: #212123;
}

.bd-search {
	margin-left: 0;
	margin-right: 0;
	padding: 1rem 0;
}

.search-button__kbd-shortcut{
    display: none!important; /* don't show the search keyboard shortcut*/
}

.bd-search i.fa-solid.fa-magnifying-glass {
    opacity: 0.8;
    left: 0.6rem;
}

.bd-search input {
    background-color: #fff;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #575E7C;
    opacity: 0.8;
    padding-left: 1.8rem;
}

@media (min-width: 959.98px){
	.bd-search input {
		width: 325px;
	}
}

.link-nounderline {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.link-nounderline:hover {
    text-decoration: none;
    font-size: 16px;
}

a.link-1 {
    font-family: 'Albert Sans';
    font-style: normal;
    line-height: 20px;
    text-align: center;
    color: #575E7C;
}

a.link-1:hover {
    color: #1A47FF;
}

a.link-2 {
    background: #1A47FF;
    border-radius: 6px;
    padding: 14px 28px;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

a.link-2:hover {
    background: rgba(26, 71, 255, 0.1);
    color: #1A47FF;
}

/*Breadcrumbs*/
ul.bd-breadcrumbs li.breadcrumb-item {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}

ul.bd-breadcrumbs li.breadcrumb-item a{
    color: var(--bs-breadcrumb-item-active-color);
}
ul.bd-breadcrumbs li.breadcrumb-item:not(.breadcrumb-home):before {
    color: var(--bs-breadcrumb-item-active-color);
    font-size: 10px;
    font-weight: 600;
}

/* Sidebar */
.bd-sidebar-primary {
    padding: 1rem 0;
    width: 240px;
    background-color: #F8F9FA;
    border-right: 0;
}

nav.bd-links {
    margin-right: 0!important;
}

nav.bd-links li>a {
    color: #575E7C;
    display: block;
    padding: .25rem 0;
}

.bd-sidebar-primary.bd-sidebar::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
    display: none;
}

li.toctree-l1 > a.reference.internal::before {
    content: url('../images/agreement.png');
    margin-right: 5px;
}

.bd-sidebar-primary li[class^="toctree-"]>.reference {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav li.toctree-l1.current>a {
    background-color: #1a47ff1a;
}

li.toctree-l1.active > a.reference.internal::before {
    content: url('../images/agreement_active.png');
    margin-right: 5px;
}

.bd-sidebar-primary label.toctree-toggle:hover {
    background: transparent;
}

nav.bd-links li>a {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
    padding: 14px 0;
}

.bd-sidebar-primary label.toctree-toggle {
    justify-content: flex-start;
    height: 45px;
}

.navbar-nav .toctree-checkbox~label i {
    transform: rotate(270deg)!important;
}

.navbar-nav .toctree-checkbox:checked~label i {
    transform: rotate(0deg)!important;
}

@media (max-width: 959.98px){
    .sidebar-header-items__center{
        padding-left: 2px;
        padding-right: 2px;
    }

    .sidebar-header-items__end{
        padding-left: 5px;
        padding-right: 5px;
    }
}

div.sidebar-primary-items__end, div#rtd-footer-container{
	display: none;
}

/*secondary sidebar*/
.sidebar-secondary-item {
    padding: 20px 0px 0px;
}

@media (min-width: 1200px){
	.sidebar-secondary-item {
		border-left: none;
		padding-left: 0;
	}
}

.page-toc.tocsection.onthispage {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #575E7C;
    margin-bottom: 10px;
}

.page-toc.tocsection.onthispage i.fa-list{
	display: none;
}

nav.page-toc {
    border-left: 2px solid #E9E9E9;
}

li.nav-item.toc-entry {
    padding: 4px 28px;
}

li.nav-item.toc-entry.active {
    border-left: 2px solid var(--pst-color-primary);
}

.toc-entry a.nav-link.active {
    border-left: none;
}

li.toc-entry a.nav-link .sd-badge {
    display: none;
}

.page-toc .section-nav ul {
    padding-left: 0;
}

.toc-h3.toc-entry, .toc-h4.toc-entry, .toc-h5.toc-entry, .toc-h6.toc-entry {
    padding: 4px 0!important;
}

.toc-h3.toc-entry.active, .toc-h4.toc-entry.active, .toc-h5.toc-entry.active, .toc-h6.toc-entry.active {
    border-left: none!important;
}

/* Content */
p {
    color: var(--pst-color-text-base);
    font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
}

p.bullet-title.rubric {
    border-bottom: none;
    display: inline-block;
    margin: 8px 0;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #575E7C;
}

ol, ul {
    padding-inline-start: 7px;
}

.bd-content {
  flex-grow: 1;
  max-width: 100%;
}

/* Custom styles */
a.headerlink i.fa-chain {
    font-size: 16px;
    color: #0458D6;
}

div.link-copied{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background: #ffffff;
    color: #212123;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 10px rgba(63, 63, 63, 0.25));
    zIndex: 999;
}

.popover-role {
	background: none;
	outline: none;
	border: none;
	text-decoration: underline;
}

.custom-popover {
  --bs-popover-border-color: #fff;
  --bs-popover-box-shadow: 0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
  --bs-popover-header-font-size: 1rem;
  --bs-popover-header-color: #000;
  --bs-popover-header-bg: #fff;
  --bs-popover-body-padding-y: 0.5rem;
}

.popover{
    box-shadow: var(--bs-popover-box-shadow);
}

.popover-header{
    margin: 0;
    font-weight: bold;
}

li::marker {
    content: "\2022";
    color: #FF6A26;
    font-weight: bold;
}

ul.simple li p {
    margin-left: 0.5em;
}

/*badges*/
.sd-badge {
    display: inline-block;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
}

.sd-bg-text-warning {
    --sd-color-warning-text: #D66904;
}
.sd-bg-warning {
    --sd-color-warning: rgba(214, 105, 4, 0.1);
}

.sd-bg-text-primary {
    --sd-color-primary-text: #0458D6;
}
.sd-bg-primary {
    --sd-color-primary: rgba(4, 88, 214, 0.1);
}

.sd-bg-text-secondary {
    --sd-color-secondary-text: #6c757d;
}
.sd-bg-secondary {
    --sd-color-secondary: rgba(108, 117, 125, 0.1);
}

.sd-bg-text-success {
    --sd-color-success-text: #038C00;
}
.sd-bg-success {
    --sd-color-success: rgba(3, 140, 0, 0.1);
}

.sd-bg-text-info {
    --sd-color-info-text: #17a2b8;
}
.sd-bg-info {
    --sd-color-info: rgba(23, 162, 184, 0.1);
}

.sd-bg-text-danger {
    --sd-color-danger-text: #D60404;
}
.sd-bg-danger {
    --sd-color-danger: rgba(214, 4, 4, 0.1);
}

/*tabs*/
.sd-tab-content {
    box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline);
    display: none;
    order: 99;
    padding-bottom: .75rem;
    padding-top: .75rem;
    width: 100%;
}

/*code*/
div[class*="highlight-"] {
    margin: 0;
}

html[data-theme="light"] .highlight span.linenos {
    background-color: transparent;
    padding-left: 0;
    padding-right: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #575E7C;
    opacity: 0.5;
}

pre {
    font-family: 'JetBrains Mono', monospace;
    background-color: #F8F9FA;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    color: var(--pst-color-text-base);
    line-height: 18px!important;
    padding: 6px 8px;
}

div.code-output{
    width: 100%;
    background: #575E7C;
    border-radius: 0px 0px 6px 6px;
}

div.code-output .highlight::before {
    content: "Output";
    background: #575E7C;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #ffffff;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    padding: 8px 12px;
}

div.code-output pre{
    background: #575E7C;
    border: none;
    border-radius: 0px 0px 6px 6px;
    color: #ffffff;
    padding: 8px 12px 12px;
}

div.code-output p{
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: .875em;
    line-height: 18px!important;
}

.highlight button.copybtn:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.1);
    border-radius: 6px;
    color: #212123;
}

div.highlight button.copybtn {
    padding: 3px;
    border-radius: 6px;
    background-color: #e5e5e55c;
    align-items: normal;
}

div.highlight button.copybtn:not(.success) {
    color: #212123;
}

button.copybtn svg {
    display: none;
}

button.copybtn.o-tooltip--left::before {
    content: url('../images/copy_btn.png');
}

p.last-updated{
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #575E7C;
    opacity: 0.8;
}
/*admonitions*/
.admonition, div.admonition {
    border-left: 1px solid;
}
div.admonition.note {
  border-color: var(--pst-color-primary);
  background-color: rgba(4, 88, 214, 0.1);
}
div.admonition.note > .admonition-title:before {
  background-color: var(--pst-color-primary);
}
div.admonition.note > .admonition-title:after {
  color: var(--pst-color-primary);
}

div.admonition.warning {
  background-color: rgba(214, 105, 4, 0.1);
}

div.admonition.success {
  border-color: var(--pst-color-success);
  background-color: rgba(3, 140, 0, 0.1);
}
div.admonition.success > .admonition-title:before {
  background-color: var(--pst-color-success);
}
div.admonition.success > .admonition-title:after {
  color: var(--pst-color-success);
  content: "\f058";
}

div.admonition.info {
  background-color: rgba(23, 162, 184, 0.1);
}

div.admonition.danger {
  background-color: rgba(214, 4, 4, 0.1);
}

video{
    width: 100%;
}

p.link-section.rubric {
    border-bottom: none;
    display: inline-block;
    margin: 10px 0;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #212123;
}
p.link-section.rubric::before {
    display: inline-block;
    content: url('../images/agreement_active.png');
    padding: 4px 8px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: rgba(4, 88, 214, 0.1);
}
p.link-section.rubric + p {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #575E7C;
}

/*Images*/
img.align-left, figure.align-left, .figure.align-left, object.align-left {
    margin-right: 0;
}

div.figure, figure {
    padding: 0;
}

/* Footer */
.footer-items__start, .footer-items__end {
  flex-direction: row!important;
}

a.policy-links.desktop{
    display: inline;
}
a.policy-links.mobile{
    display: none;
}

@media (max-width: 959.98px){
	.footer-items__start, .footer-items__end {
      flex-direction: column!important;
      gap: 0;
    }
    .bd-footer .bd-footer__inner {
        flex-direction: column;
        padding: 0;
    }
    a.policy-links.mobile{
        display: inline;
    }
    a.policy-links.desktop{
        display: none;
    }
    .footer-items__start > .footer-item:first-of-type {
        background-color: #FFFFFF!important;
    }
    .bd-footer .footer-items__end {
        margin-left: 0;
    }
    .footer-item {
        padding: 0.5rem 1rem!important;
    }
}

.bd-footer {
    border-top: none;
}

.bd-footer .bd-footer__inner {
	padding: 0 1rem 0 0;
	border-top: 1px solid var(--pst-color-border);
}

.footer-item {
    padding: 1rem;
}

.footer-items__start > .footer-item:first-of-type {
    width: 240px;
    background-color: #F8F9FA;
    border-right: 0;
    padding-left: 1rem;
    padding-right: 0;
}

.version, .copyright {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #575E7C;
}

.policy-links, .social-media {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #575E7C;
}

.divider {
    color: #E9E9E9;
}

.prev-next-area a {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1A47FF;
}

.prev-next-area i {
	font-size: 16px;
	font-weight: 600;
}


/* Tables */
div.responsive-table{
    overflow: auto;
}

/* Typography */
h1, h2, h3, h4, h5, h6{
    color: #212123;
}
