@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,400;0,600;0,800;1,400&family=JetBrains+Mono:ital,wght@0,400;1,200&display=swap');

html {
    /* Font */
    --pst-font-family-base: 'Albert Sans', sans-serif, Arial;
    --pst-font-family-heading: 'Albert Sans', sans-serif, Arial;
}

html[data-theme="light"] {
    /* Background */
    --pst-color-background: #FFFFFF;
    /* Color */
    --pst-color-primary: #0458D6;
    --pst-color-secondary: #6c757d;
    --pst-color-success: #038C00;
    --pst-color-info: #17a2b8;
    --pst-color-danger: #D60404;
    --pst-color-link-hover: #1A47FF;
    /* Typography */
    --pst-font-weight-heading: 700;
    --pst-font-size-h1: 48px;
    --pst-font-size-h2: 40px;
    --pst-font-size-h3: 22px;
    --pst-font-size-h4: 18px;
    --pst-font-size-h5: 16px;
    --pst-font-size-h6: 12px;
}

body::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
}

/* Header */
.bd-header .bd-header__inner {
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 959.98px){
    .bd-header .bd-header__inner {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.bd-header .navbar-header-items__center {
    padding-left: 60px;
}

a.navbar-brand.logo:hover {
    text-decoration: none;
}

a.navbar-brand.logo p.logo__title {
    font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 130%;
	text-align: center;
	color: #212123;
}

.bd-search {
	margin-left: 0;
	margin-right: 0;
	padding: 1rem 0;
}

.search-button__kbd-shortcut{
    display: none!important; /* don't show the search keyboard shortcut*/
}

.bd-search i.fa-solid.fa-magnifying-glass {
    opacity: 0.8;
    left: 0.6rem;
}

.bd-search input {
    background-color: #fff;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #575E7C;
    opacity: 0.8;
    padding-left: 1.8rem;
}

@media (min-width: 959.98px){
	.bd-search input {
		width: 325px;
	}
}

.link-nounderline{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.link-nounderline:hover{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

/* Sidebar */
.bd-sidebar-primary {
    padding: 1rem 0;
    width: 240px;
    background-color: #F8F9FA;
    border-right: 0;
}

nav.bd-links {
    margin-right: 0!important;
}

.bd-sidebar-primary.bd-sidebar::-webkit-scrollbar {
    width: .2rem;
    height: .2rem;
    display: none;
}

li.toctree-l1 > a.reference.internal::before {
    content: url('../images/agreement.png');
    margin-right: 5px;
}

.bd-sidebar-primary li[class^="toctree-"]>.reference {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav li.toctree-l1.current>a {
    background-color: #1a47ff1a;
}

li.toctree-l1.active > a.reference.internal::before {
    content: url('../images/agreement_active.png');
    margin-right: 5px;
}

.bd-sidebar-primary label.toctree-toggle:hover {
    background: transparent;
}

nav.bd-links li>a {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
    padding: 14px 0;
}

.bd-sidebar-primary label.toctree-toggle {
    justify-content: flex-start;
    height: 45px;
}

.navbar-nav .toctree-checkbox~label i {
    transform: rotate(270deg)!important;
}

.navbar-nav .toctree-checkbox:checked~label i {
    transform: rotate(0deg)!important;
}

li.toctree-l2 > a, li.toctree-l3 > a, li.toctree-l4 > a, li.toctree-l5 > a, li.toctree-l6 > a {
    border-left: 1px solid var(--pst-color-border);
}
li.toctree-l2 > a:hover, li.toctree-l3 > a:hover, li.toctree-l4 > a:hover, li.toctree-l5 > a:hover, li.toctree-l6 > a:hover {
   border-left: 1px solid var(--pst-color-border);
}
li.toctree-l2.active > a, li.toctree-l3.active > a, li.toctree-l4.active > a, li.toctree-l5.active > a, li.toctree-l6.active > a {
    border-left: 2px solid var(--pst-color-primary);
}

@media (max-width: 959.98px){
    .sidebar-header-items__center{
        padding-left: 2px;
        padding-right: 2px;
    }

    .sidebar-header-items__end{
        padding-left: 5px;
        padding-right: 5px;
    }
}

div.sidebar-primary-items__end, div#rtd-footer-container{
	display: none;
}

/* Content */
.bd-content {
  flex-grow: 1;
  max-width: 100%;
}

/* Custom styles */
.popover-role {
	background: none;
	outline: none;
	border: none;
	text-decoration: underline;
}

.custom-popover {
  --bs-popover-border-color: #fff;
  --bs-popover-box-shadow: 0 .2rem .5rem var(--pst-color-shadow),0 0 .0625rem var(--pst-color-shadow)!important;
  --bs-popover-header-font-size: 1rem;
  --bs-popover-header-color: #000;
  --bs-popover-header-bg: #fff;
  --bs-popover-body-padding-y: 0.5rem;
}

.popover{
    box-shadow: var(--bs-popover-box-shadow);
}

.popover-header{
    margin: 0;
    font-weight: bold;
}

li::marker {
    content: "\2022";
    color: #FF6A26;
    font-weight: bold;
}

ul.simple li p {
    margin-left: 0.5em;
}

/*badges*/
.sd-badge {
    display: inline-block;
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
}

.sd-bg-text-warning {
    --sd-color-warning-text: #D66904;
}
.sd-bg-warning {
    --sd-color-warning: rgba(214, 105, 4, 0.1);
}

.sd-bg-text-primary {
    --sd-color-primary-text: #0458D6;
}
.sd-bg-primary {
    --sd-color-primary: rgba(4, 88, 214, 0.1);
}

.sd-bg-text-secondary {
    --sd-color-secondary-text: #6c757d;
}
.sd-bg-secondary {
    --sd-color-secondary: rgba(108, 117, 125, 0.1);
}

.sd-bg-text-success {
    --sd-color-success-text: #038C00;
}
.sd-bg-success {
    --sd-color-success: rgba(3, 140, 0, 0.1);
}

.sd-bg-text-info {
    --sd-color-info-text: #17a2b8;
}
.sd-bg-info {
    --sd-color-info: rgba(23, 162, 184, 0.1);
}

.sd-bg-text-danger {
    --sd-color-danger-text: #D60404;
}
.sd-bg-danger {
    --sd-color-danger: rgba(214, 4, 4, 0.1);
}

/*tabs*/
.sd-tab-content {
    box-shadow: 0 -0.0625rem var(--sd-color-tabs-overline);
    display: none;
    order: 99;
    padding-bottom: .75rem;
    padding-top: .75rem;
    width: 100%;
}
div.sd-tab-content.code-output{
    padding: 12px;
    width: 100%;
    background: #575E7C;
    border-radius: 0px 0px 6px 6px;
}

div.sd-tab-content.code-output p{
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: .875em;
    line-height: 18px;
    color: #ffffff;
}

p.last-updated{
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #575E7C;
    opacity: 0.8;
}
/*admonitions*/
.admonition, div.admonition {
    border-left: 1px solid;
}
div.admonition.note {
  border-color: var(--pst-color-primary);
  background-color: rgba(4, 88, 214, 0.1);
}
div.admonition.note > .admonition-title:before {
  background-color: var(--pst-color-primary);
}
div.admonition.note > .admonition-title:after {
  color: var(--pst-color-primary);
}

div.admonition.warning {
  background-color: rgba(214, 105, 4, 0.1);
}

div.admonition.success {
  border-color: var(--pst-color-success);
  background-color: rgba(3, 140, 0, 0.1);
}
div.admonition.success > .admonition-title:before {
  background-color: var(--pst-color-success);
}
div.admonition.success > .admonition-title:after {
  color: var(--pst-color-success);
  content: "\f058";
}

div.admonition.info {
  background-color: rgba(23, 162, 184, 0.1);
}

div.admonition.danger {
  background-color: rgba(214, 4, 4, 0.1);
}

video{
    width: 100%;
}

p.link-section.rubric {
    border-bottom: none;
    display: inline-block;
    margin: 10px 0;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #212123;
}
p.link-section.rubric::before {
    display: inline-block;
    content: url('../images/agreement_active.png');
    padding: 4px 8px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: rgba(4, 88, 214, 0.1);
}
p.link-section.rubric + p {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #575E7C;
}
/* Footer */
.footer-items__start, .footer-items__end {
  flex-direction: row!important;
}

a.policy-links.desktop{
    display: inline;
}
a.policy-links.mobile{
    display: none;
}

@media (max-width: 959.98px){
	.footer-items__start, .footer-items__end {
      flex-direction: column!important;
      gap: 0;
    }
    .bd-footer .bd-footer__inner {
        flex-direction: column;
        padding: 0;
    }
    a.policy-links.mobile{
        display: inline;
    }
    a.policy-links.desktop{
        display: none;
    }
    .footer-items__start > .footer-item:first-of-type {
        background-color: #FFFFFF!important;
    }
    .bd-footer .footer-items__end {
        margin-left: 0;
    }
    .footer-item {
        padding: 0.5rem 1rem!important;
    }
}
.bd-footer .bd-footer__inner {
	padding: 0 1rem 0 0;
}

.footer-item {
    padding: 1rem;
}

.footer-items__start > .footer-item:first-of-type {
    width: 240px;
    background-color: #F8F9FA;
    border-right: 0;
    padding-left: 1rem;
    padding-right: 0;
}

.version, .copyright {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #575E7C;
}

.policy-links, .social-media {
	font-family: 'Albert Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #575E7C;
}

.divider {
    color: #E9E9E9;
}

.prev-next-area a {
    color: var(--pst-color-primary);
}

/* Tables */
div.responsive-table{
    overflow: auto;
}

/* Typography */
h1, h2, h3, h4, h5, h6{
    color: #212123;
}
